body {
  background-color: #00eeff34;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");

  }
  h1 { text-align:center; color:rgb(0, 0, 0); font-size : 50px; font-family:Rockwell; 
  }
h2 { text-align:center; color:rgb(0, 0, 0); font-size : 24px; font-family:Rockwell; 
}
  p {text-align:center; color:rgb(0, 0, 0); font-size : 20px; font-family:Rockwell;
  }

  .three { text-align:center; color:rgb(0, 0, 0); font-size : 16px; font-family:Rockwell; 
  }
  .four { text-align:center; color:rgb(0, 0, 0); font-size : 20px; font-family:Rockwell; 
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  /* unvisited link */
a:link {
    color: red;
    font-size : 30px; font-family:Rockwell
  }
  
  /* visited link */
  a:visited {
    color: green;
    font-size : 30px; font-family:Rockwell
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    font-size : 30px; font-family:Rockwell
  }
  
  /* selected link */
  a:active {
    color: blue;
    font-size : 30px; font-family:Rockwell
  }
  .wrapper {
    text-align: center;
}
  .button2 {
    background-color: #00d1c7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }