body {
    background-color: rgb(5, 173, 159);
  }
h1 { text-align:center; color:white; font-size : 50px; font-family:Rockwell; 
}
p {text-align:center; color:white; font-size : 20px; font-family:Rockwell;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}